# Frontend API selection: use development locally and production on Vercel.
NEXT_PUBLIC_API_ENV="development"
NEXT_PUBLIC_BACKEND_DEV_URL="http://localhost:4400"
NEXT_PUBLIC_BACKEND_API_URL="Deployed_URL"

FACULTY_MATRIX_REFERENCE_FILE_URL="GOOGLE_SHEETS_URL"
STUDENT_DATA_REFERENCE_FILE_URL="GOOGLE_SHEETS_URL"
FACULTY_DATA_REFERENCE_FILE_URL="GOOGLE_SHEETS_URL"
SUBJECT_DATA_REFERENCE_FILE_URL="GOOGLE_SHEETS_URL"
